<div class = 'col-xs-offset-2 col-xs-10'>
	<h1>Unassigned Photos</h1>
	Click on the photos to select...
	<%= simple_form_for @project_gallery, :url => update_multiple_admin_photos_path do |f| %>
	<div class = 'row photos col-xs-8'>
		<% @photos.each do |photo| %>
			<% if photo.projects.blank? %>
			<div class = 'col-xs-6 col-md-3 container'>
				<%= check_box_tag 'gallerization[photo_ids][]', photo.id, checked = false, { :class => 'cbox', id: dom_id(photo)} %>
				<%= image_tag photo.picture_url(:thumb).to_s, :class => 'thumbnail image-select' %>
			</div>
			<% end %>
		<% end %>
	</div>
	<div class = 'side-panel col-xs-3'>
	    <h4>Assign photos to project(s)...</h4>
	    <%= f.collection_check_boxes :project_id, @projects, :id, :title, include_hidden: false %>
	    <br />
	    <br />
	    <%= f.submit 'Update Photos', :class => 'btn btn-success' %>
	</div>
	<% end %>
</div>


<script>
$(function () {
	$("input[name='gallerization[project_id][]'][type='hidden']").remove();
	$(".container .cbox").hide();
	$('.image-select').click(function() {
		var $checkbox = $(this).parent().find('.cbox');
		$(this).toggleClass('selected');
		$checkbox.prop('checked', !$checkbox.prop('checked'));
	});
})
</script>