<div class = 'col-xs-offset-2 col-xs-8'>
	<br />
	<%= simple_form_for @photo , :url => admin_photos_path do |f| %>
	<%= f.input :picture %>
	<%= f.input :caption %>
	<%= f.input :description %>
	<%= f.button :submit %>
	<% end %>
</div>