<!--
 * Transition - vCard Theme
 *
 * Copyright 2013 
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * Created by: Carlos Alvarez
 * URL: http://www.basicoh.com
 * Designed and built based on Twitter Bootstrap.
 * Tags: multipurpose, agency theme, one page, single page, responsive, flat */
--> 

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">


  </head>

  <body>


    <div class="container">

			<div id="bl-main" class="bl-main">
			
			<!--=========== ABOUT SECTION ===========-->
				<section>
					<div class="bl-box">
						<h2 >John Ramster</h2> <!-- class="bl-icon bl-icon-about" -->
					</div><!-- /bl-box -->
					<div class="bl-content">
						<div class="row-fluid">
							<div class="col-xs-12">
								<h2>About John</h2>
								<br />
								<%= @about.content.html_safe %>
							</div><!-- /span12 -->
						</div><!-- /row-fluid -->
						
					</div><!-- /bl-content -->
					<span class="bl-icon bl-icon-close"></span>
				</section>
				
				
				
			<!--=========== LATEST NEWS SECTION ===========-->
				<section id="bl-work-section">
					<div class="bl-box">
						<h2 >News & Latest Productions</h2> <!-- class="bl-icon bl-icon-works"-->
					</div>
					<div class="bl-content">

						<div class="row-fluid">
							<div class="col-xs-6">
							<h2>News</h2>
							<br />
							<br />
							<% @diaries.each do |diary| %>
								<ul id="bl-work-items" style="list-style: none;">
									<li data-panel="panel-1">
									<%= diary.date.to_s(:long) %>, <h4><%= diary.title %></h4><br/>
										<%= diary.content.html_safe %></li>
								</ul>
								<% end %>						
							</div><!-- /span4 -->
							<div class="col-xs-6">
								<h2>Latest Production</h2>
								<ul id="bl-work-items">
									<li data-panel="panel-2"><a href="#"><img src="assets/rakesprogress.png" class='img-responsive'/></a></li>
								</ul>
								<p>Rake's Progress</p>							
							</div><!-- /span4 -->

						</div><!-- /row-fluid -->
					</div><!-- /bl-content -->
					<span class="bl-icon bl-icon-close"></span>
				</section>
				
				
				
			<!--=========== PROJECT PORTFOLIO SECTION ===========-->
				<section>
					<div class="bl-box">
						<h2>Portfolio Gallery</h2>
					</div>
					<div class="bl-content">
						<h2>Past Projects</h2>
						<br />
						<% @projects.each do |project| %>
						<div class="row-fluid">
							<div class="col-xs-4">
								<ul id="bl-work-items" style="list-style: none;">
									<li data-panel="panel-1"><%= link_to image_tag project.feature_image, :class => 'img-responsive' %></li>
								</ul>
								<p><%= project.title %></p>							
							</div><!-- /span4 -->
							
						</div><!-- /row-fluid -->
						<% end %>
					</div><!-- /bl-content -->
					<span class="bl-icon bl-icon-close"></span> -->
				</section>
				
				
				
			<!--=========== CONTACT SECTION ===========-->
				<section>
					<div class="bl-box">
						<h2 >Contact Me</h2>
					</div>
					<div class="bl-content">
						<div class="row-fluid">
							<div class="span12">
								<h2>Get in touch</h2>
								<br>
								<p>I am available for freelance jobs. Please contact me and send me your questions and inquiries.</p>								
							
							<p>
								<p>your@email.com | +34 600669933 | Madrid, Spain</p>
							</p>
							
							<p>
								<a href="#" class="social-network facebook"></a>
								<a href="#" class="social-network pinterest"></a>
								<a href="#" class="social-network flickr"></a>
								<a href="#" class="social-network dribbble"></a>
								<a href="#" class="social-network twitter"></a>
								<a href="#" class="social-network apple"></a>
								<a href="#" class="social-network skype"></a>
								<a href="#" class="social-network tumblr"></a>
								<a href="#" class="social-network vimeo"></a>
							</p>
							
						</div>
					</div>
					<span class="bl-icon bl-icon-close"></span>
				</section>
				
				
				
				
			<!--=========== PROJECTS DESCRIPTIONS SECTION ===========-->
				<div class="bl-panel-items" id="bl-panel-work-items">
					<div data-panel="panel-1">
						<div class="row-fluid">
							<div class="span8 offset2 tweak">
								<img src="assets/LeNozze.png" />
								<br>
								<br>
								<h4>Project Overview</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								<h4>Project Details</h4>
								<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->	
					</div><!-- /panel1 -->
					
					<div data-panel="panel-2">
						<div class="row-fluid">
							<div class="span8 offset2 tweak">
							<img src="assets/rakesprogress.png" />
							<br>
							<br>
							<h4>Project Overview</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<h4>Project Details</h4>
							<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->	
					</div><!-- /panel2 -->
					
					<div data-panel="panel-3">
						<div class="row-fluid">
							<div class="span8 offset2 tweak">
							<img src="assets/lighthouse.png" />
							<br>
							<br>
							<h4>Project Overview</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<h4>Project Details</h4>
							<p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->	
					</div><!-- /panel3 -->
					
					<nav>
						<span class="bl-next-work">&gt; Next Project</span>
						<span class="bl-icon bl-icon-close"></span>
					</nav>
				</div><!-- /panel-items -->
				
				
			</div><!-- /bl-main -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    	<script type="text/javascript" src="/assets/boxlayout.js"></script>
    	<script>
			$(function() {
				Boxlayout.init();
			});
		</script>
  </body>
</html>
