<div class = 'col-xs-offset-2 col-xs-8'>
	<h1>Add New Diary Details</h1>
	<%= simple_form_for @diary, :url => admin_diaries_path do |f| %>
	<%= f.input :title %>
	<%= f.input :content, input_html: {:id => 'eg-basic', :class => 'text-small'} %>
	<%= f.input :date %>
	<%= f.button :submit %>
	<% end %>
<div>


<script type="text/javascript">
  $(document).ready(function(){

	$(function() {
	    $('#eg-basic').editable({
	      inlineMode: false
	    })
  	});

  })
</script>