<!DOCTYPE html>
<html>
<head>
  <title>John Ramster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="John Ramster Website">
  <meta name="author" content="WeiHsi Hu">
</head>

<body>
  <%= render "admin/navbar" if params[:controller] == "admin/login" %>

	<% if notice.present? %>
         <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
         <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
